<% include partials/header.ejs %>

<h1><%= title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni iusto inventore repellendus ex. Est numquam consequatur saepe unde voluptatem laboriosam ex perspiciatis, autem voluptatum cupiditate, nesciunt reprehenderit perferendis maiores excepturi.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum aliquid expedita soluta voluptatum pariatur rem cupiditate accusamus officiis quia adipisci eligendi, natus porro, numquam minima necessitatibus dolores earum esse ratione.</p>


<% include partials/footer.ejs %>
	
